body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(89deg, #2700A6 0%, #F1ef00 100%);
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
